doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{ t('course.detail.meetingRoom') }
    link(rel='icon', href='/favicon.ico?v=2')
    link(
      rel='stylesheet',
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
    )
    link(rel='stylesheet', href='/stylesheets/room.css')

    // Set the ROOM_ID variable to the roomId that is passed in by server.js
    script.
      const ROOM_ID = '#{roomId}';
    // CDN in the peerJS and socket.io libraries
    script(defer, src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js')
    script(defer, src='/socket.io/socket.io.js')
    // Load in script.js, our client-side script
    script(defer, src='/javascripts/script.js')
  body
    .meeting-container
      .main-container
        .main-screen
          video#main-video
        .call-controls
          button#muteButton.control-button(onclick='toggleMute()')
            i.fas.fa-microphone
          button#cameraButton.control-button(onclick='toggleCamera()')
            i.fas.fa-video
          button#flipButton.control-button(onclick='toggleFlip()')
            i.fas.fa-sync
          button#screenShareButton.control-button(
            onclick='toggleScreenShare()'
          )
            i.fas.fa-desktop
          button.control-button.danger(onclick='endCall()')
            i.fas.fa-phone-slash
        button#toggleControl.toggle-control(onclick='toggleControlButtons()')
          i.fas.fa-chevron-down
      button#toggleSidebar.toggle-sidebar(onclick='toggleSidebar()')
        i.fas.fa-chevron-left
      #video-grid
