.flex.space-x-4
  select#levelFilter.inline-flex.w-full.justify-center.rounded-md.bg-white.px-4.py-2.text-sm.font-semibold.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(
    class='gap-x-1.5 hover:bg-gray-50',
    onchange='filterMyCourses()'
  )
    option(value='') #{ t('course.allLevels') }
    each value, key in CourseLevel
      option(value=value, selected=levelFilter === value ? true : false)= key

  select#statusFilter.inline-flex.w-full.justify-center.rounded-md.bg-white.px-4.py-2.text-sm.font-semibold.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300(
    class='gap-x-1.5 hover:bg-gray-50',
    onchange='filterMyCourses()',
    class=current_user.role === UserRole.INSTRUCTOR ? 'hidden' : ''
  )
    option(value='') #{ t('course.allStatus') }
    each value, key in EnrollStatus
      option(value=value, selected=statusFilter === value ? true : false)= key
