extends ../layout

block content
  if current_user
    #learning.max-w-6xl.mx-auto.bg-white.p-6
      .flex.justify-between.items-center.mb-6
        h2.text-xl.font-bold #{ t('common.myCourses') }
        if current_user.role === UserRole.INSTRUCTOR
          a.text-sm.text-blue-500.px-3.py-2.border-2.border-blue-600.rounded(
            href='/courses/create',
            class='hover:text-blue-800 hover:bg-blue-100'
          ) #{ t('course.newCourse') }
        if current_user.role === UserRole.STUDENT
          include ./filter.pug

      if current_user.role === UserRole.INSTRUCTOR
        .mx-2.mb-4
          include ./filter.pug

      .grid.gap-6(class='sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3')
        each course in myCourses
          a.block.bg-white.p-4.mt-4.transition-all.duration-300.ease-in-out.cursor-pointer(
            class='hover:shadow-lg hover:rounded-lg hover:scale-105',
            href=`/courses/${course.id}`
          )
            .rounded-lg.overflow-hidden
              .flex.justify-center.items-center.h-48
                img.h-full(
                  src=course.image_url === null ? '/images/course.png' : course.image_url,
                  alt='Image'
                )
              .p-4
                h3.font-semibold.mb-2= course.name
                p.text-sm.text-gray-600.mb-4= course.description
                .flex.justify-between.items-center.text-sm.text-gray-500
                  span= `${course.level} • ${course.duration}`
                  if current_user.role === UserRole.INSTRUCTOR
                    span= `${course.studentCount} ${t('courseDetails.students')}`
                  if course.enrollStatus
                    case course.enrollStatus
                      when EnrollStatus.PENDING
                        span.text-xs.font-bold.bg-purple-100.text-purple-800.px-2.py-1.rounded-full= course.enrollStatus
                      when EnrollStatus.APPROVED
                        span.text-xs.font-bold.bg-green-100.text-green-800.px-2.py-1.rounded-full= course.enrollStatus
                      when EnrollStatus.REJECTED
                        span.text-xs.font-bold.bg-red-100.text-red-800.px-2.py-1.rounded-full= course.enrollStatus

  .mb-6
  #recommend.max-w-6xl.mx-auto.bg-white.p-6
    .flex.justify-between.items-center.mb-6
      h2.text-xl.font-bold #{ t('common.recommend') }
    .grid.gap-6(class='sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3')
      each course in courseRecommends
        a.block.bg-white.p-4.mt-4.transition-all.duration-300.ease-in-out.cursor-pointer(
          class='hover:shadow-lg hover:rounded-lg hover:scale-105',
          href=`/courses/${course.id}`
        )
          .rounded-lg.overflow-hidden
            .flex.justify-center.items-center.h-48
              img.h-full(
                src=course.image_url === null ? '/images/course.png' : course.image_url,
                alt='Image'
              )
            .p-4
              h3.font-semibold.mb-2= course.name
              p.text-sm.text-gray-600.mb-4= course.description
              .flex.justify-between.items-center.text-sm.text-gray-500
                span= `${course.level} • ${course.duration}`
                span= `${course.studentCount} ${t('courseDetails.students')}`
  script(src='/javascripts/filter.js')
