extends ../layout

mixin formatDate(date)
  - const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false };
  .text-gray-500.italic= date.toLocaleString('en-US', options)

block content
  #modal.fixed.inset-0.flex.items-center.justify-center.z-50.bg-black.bg-opacity-50(
    class=undefined === enrollmentIdDelete ? 'hidden' : ''
  )
    .bg-white.rounded-lg.shadow-lg.p-8
      h2.text-2xl.font-bold.mb-4 Delete Enrollment
      p.mb-6 Are you sure you want to delete this enrollment?
      .flex.justify-end
        form(method='POST')
          input(type='hidden', name='enrollmentId', value=enrollmentIdDelete)
          button.bg-red-500.text-white.px-4.py-2.rounded.mr-2(
            type='submit',
            class='hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50'
          ) Delete
        a.bg-gray-400.text-white.px-4.py-2.rounded(
          class='hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50',
          href=`/courses/${course.id}/manage`
        ) Cancel
  .container.mx-auto.px-4
    // Course Title
    .flex.justify-between.items-center
      h1.text-4xl.font-bold.mb-4= course.name
        sup.ml-4
          case course.level
            when CourseLevel.BEGINNER
              span.text-xs.bg-green-200.text-green-800.px-2.py-1.rounded-sm.font-bold #{ t('courseLevels.beginner') }
            when CourseLevel.INTERMEDIATE
              span.text-xs.bg-amber-200.text-amber-800.px-2.py-1.rounded-sm.font-bold #{ t('courseLevels.intermediate') }
            when CourseLevel.ADVANCED
              span.text-xs.bg-red-200.text-red-800.px-2.py-1.rounded-sm.font-bold #{ t('courseLevels.advanced') }
            when CourseLevel.EXPERT
              span.text-xs.bg-purple-200.text-purple-800.px-2.py-1.rounded-sm.font-bold #{ t('courseLevels.expert') }

      a.text-sm.text-red-500.px-3.py-2.border-2.border-red-500.rounded(
        href=`/courses/${course.id}/update`,
        class='hover:bg-red-100'
      ) #{ t('course.editCourse') }

    // Course Description
    p.text-gray-700.ml-2.mb-6= course.description

    // Meeting Room
    h2#meetingroom.text-xl.font-bold.mb-4 #{ t('course.detail.meetingRoom') }

    form#FormRoom.hidden(method='POST', action='/room')
      input(name='courseId', value=course.id)

    .rounded-lg.mb-6(class='hover:bg-blue-100')
      button.flex.items-center.p-4(type='submit', form='FormRoom')
        img.w-16.h-16(src='/images/meeting-room.png', alt='meeting-room')
        .px-4
          h3.font-semibold.text-left.mb-1.text-gray-900 #{ t('course.detail.meetingRoom') }
          p.text-gray-600.text-sm This is a meeting room for students to discuss about the course.

    // Forum Course
    h2#studentlist.text-xl.font-bold.mb-4 #{ t('course.detail.forum') }
    a.block.py-4.px-4.rounded-lg.transition-all.mb-6(
      class='hover:bg-blue-100',
      href=`/courses/${course.id}/forums`
    )
      .flex.items-center.justify-beetween.space-x-4
        img.w-12.h-12(src='/images/forum.png', alt='forum')
        div
          h3.font-semibold.mb-1.text-gray-900 #{ t('course.detail.forum') }
          p.text-gray-600.text-sm This is forum for students to discuss about the course.

    // Student List
    h2#studentlist.text-xl.font-bold.mb-4 #{ t('course.studentList') }
    ul.grid.gap-4(class='lg:grid-cols-2')
      each enrollment in enrollments
        li.grid.relative.group(class='lg:grid-cols-6 hover:shadow-sm hover:bg-blue-50')
          a.absolute.top-0.right-0.hidden(
            class='group-hover:block',
            href=`/courses/${course.id}/${enrollment.id}/delete`
          )
            svg.w-5.h-5.text-red-500.rounded-sm.cursor-pointer(
              class='hover:bg-red-200 hover:border hover:border-red-500',
              xmlns='http://www.w3.org/2000/svg',
              fill='none',
              viewBox='0 0 24 24',
              stroke='currentColor'
            )
              path(
                stroke-linecap='round',
                stroke-linejoin='round',
                stroke-width='2',
                d='M6 18L18 6M6 6l12 12'
              )
          a.inline-block.col-span-4.flex.items-center.p-4.rounded-md.transition-all.duration-300.ease-in-out.cursor-pointer(
            href=`/users/${enrollment.student.id}`,
            class='hover:bg-red-100'
          )
            .w-12.h-12.rounded-full.mr-4.overflow-hidden.flex-shrink-0
              img.w-full.h-full.object-cover(
                src=enrollment.student.avatar_url || '/images/student.png',
                alt=enrollment.student.name
              )
            .flex.flex-col
              p.text-sm.truncate.font-medium.text-gray-900
                | #{ enrollment.student.name }
              p.text-sm.truncate.text-gray-500
                | #{ enrollment.student.email }

          .col-span-2.flex.items-center.justify-center.p-4
            if enrollment.status === EnrollStatus.PENDING
              select.text-xs.rounded-sm.px-2.py-1.bg-purple-100.text-purple-800(
                name='status',
                onchange=`window.location.href = '/courses/${enrollment.id}/' + this.value;`
              )
                option.bg-purple-100.text-purple-800(value='pending', selected)= EnrollStatus.PENDING
                option.bg-green-100.text-green-800(value='approve')= EnrollStatus.APPROVED
                option.bg-red-100.text-red-800(value='reject')= EnrollStatus.REJECTED
            else if enrollment.status === EnrollStatus.APPROVED
              select.text-xs.rounded-sm.px-2.py-1.bg-green-100.text-green-800(
                name='status',
                onchange=`window.location.href = '/courses/${enrollment.id}/reject';`
              )
                option.bg-green-100.text-green-800(value='approve', selected)= EnrollStatus.APPROVED
                option.bg-red-100.text-red-800(value='reject')= EnrollStatus.REJECTED
            else if enrollment.status === EnrollStatus.REJECTED
              select.text-xs.rounded-sm.px-2.py-1.bg-red-100.text-red-800(
                name='status',
                onchange=`window.location.href = '/courses/${enrollment.id}/approve';`
              )
                option.bg-green-100.text-green-800(value='approve')= EnrollStatus.APPROVED
                option.bg-red-100.text-red-800(value='reject', selected)= EnrollStatus.REJECTED

    // lesson management
    #lesson.flex.justify-between.items-center.mt-6
      h2.text-xl.font-bold.my-4 #{ t('title.list_lesson') }
      a.px-3.rounded.text-sm.tracking-wider.font-medium.border-2.border-blue-700.outline-none.bg-transparent.text-blue-700.transition-all.duration-300.py-2(
        href=`/courses/${course.id}/lessons/create`,
        class='hover:bg-blue-100 hover:text-blue-800'
      ) #{ t('lesson.create') }
    .pt-8.w-full(class='font-[sans-serif]')
      table.w-full.bg-white
        thead.bg-gray-100
          tr
            th.p-4.text-center.text-sm.font-semibold.text-black #
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('lesson.detail.title') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('lesson.detail.content') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('lesson.detail.file') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('lesson.detail.study_time') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('common.action') }

        tbody
          each lesson, index in lessons
            tr.border-b
              td.p-4.text-sm
                .flex.items-center
                  span #{ (currentLessonPage - 1) * LIMIT_RECORDS + index + 1 }
              td.p-4.text-sm.max-w-60
                .flex.items-center
                  span #{ lesson.title }
              td.p-4.text-sm.max-w-60
                .flex.items-center
                  span #{ lesson.content }
              td.p-4.text-sm.max-w-60
                a.flex.items-center.truncate(
                  href=`/uploads/${lesson.file_url.split('\\')[3]}`,
                  target='_blank',
                  class='hover:text-blue-600'
                )
                  span #{ lesson.file_url.split('$$')[1] }
              td.p-4.text-sm.max-w-28
                .flex.items-center.justify-center
                  span.text-center #{ lesson.studyTime }
              td.p-4
                .flex.justify-center.items-center
                  a.mr-2(
                    href=`lessons/${lesson.id}/update?lessonPage=${currentLessonPage}`
                  )
                    svg.w-5.fill-blue-500(
                      xmlns='http://www.w3.org/2000/svg',
                      class='hover:fill-blue-700',
                      viewBox='0 0 348.882 348.882'
                    )
                      path(
                        d='m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z',
                        data-original='#000000'
                      )
                      path(
                        d='M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z',
                        data-original='#000000'
                      )
                  a.mr-2(href=`lessons/${lesson.id}/delete`)
                    svg.w-5.fill-red-500(
                      xmlns='http://www.w3.org/2000/svg',
                      class='hover:fill-red-700',
                      viewBox='0 0 24 24'
                    )
                      path(
                        d='M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z',
                        data-original='#000000'
                      )
                      path(
                        d='M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z',
                        data-original='#000000'
                      )
      // Pagination
      .mt-4.flex.justify-center
        nav.inline-flex.rounded-md.shadow(aria-label='Pagination')
          a.px-2.py-2.rounded-l-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(
            class='hover:bg-blue-100',
            href=`?lessonPage=${currentLessonPage > 1 ? currentLessonPage - 1 : 1}#lesson`,
            class=currentLessonPage === 1 ? 'cursor-not-allowed' : ''
          )
            span.sr-only Previous
            svg.h-5.w-5(
              xmlns='http://www.w3.org/2000/svg',
              viewBox='0 0 20 20',
              fill='currentColor',
              aria-hidden='true'
            )
              path(
                fill-rule='evenodd',
                d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z',
                clip-rule='evenodd'
              )

          - const startLessonPage = Math.max(1, currentLessonPage - 2);
          - const endLessonPage = Math.min(totalLessonPages, startLessonPage + 4);

          each page in Array.from({length: endLessonPage - startLessonPage + 1}, (_, i) => startLessonPage + i)
            if page === currentLessonPage
              span.z-10.bg-indigo-50.border-indigo-500.text-indigo-600.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= page
            else
              a.bg-white.border-gray-300.text-gray-500.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium(
                class='hover:bg-blue-100',
                href=`?lessonPage=${page}#lesson`
              )= page

          if endLessonPage < totalLessonPages
            span.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-700 ...
            a.bg-white.border-gray-300.text-gray-500.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium(
              class='hover:bg-blue-100',
              href=`?lessonPage=${totalLessonPages}#lesson`
            )= totalLessonPages

          a.px-2.py-2.rounded-r-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(
            class='hover:bg-blue-100',
            href=`?lessonPage=${currentLessonPage < totalLessonPages ? currentLessonPage + 1 : totalLessonPages}#lesson`,
            class=currentLessonPage === totalLessonPages ? 'cursor-not-allowed' : ''
          )
            span.sr-only Next
            svg.h-5.w-5(
              xmlns='http://www.w3.org/2000/svg',
              viewBox='0 0 20 20',
              fill='currentColor',
              aria-hidden='true'
            )
              path(
                fill-rule='evenodd',
                d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z',
                clip-rule='evenodd'
              )

    // Grade management
    h2#grade.text-xl.font-bold.my-4 #{ t('exam.listGradeTitle') }
    .pt-8.w-full
      table.w-full.bg-white
        thead.bg-gray-100
          tr
            th.p-4.text-center.text-sm.font-semibold.text-black #
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('exam.studentName') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('exam.status') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('exam.grade') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('exam.maxGrade') }
            th.p-4.text-center.text-sm.font-semibold.text-black #{ t('exam.feedback') }
            th.p-4.text-center.text-sm.font-semibold.text-black

        tbody
          each grade, index in grades
            tr.border-b
              td.p-4.text-sm
                .flex.items-center.justify-center
                  span #{ (currentGradePage - 1) * LIMIT_RECORDS + index + 1 }
              td.p-4.text-sm
                .flex.items-center.justify-center
                  span #{ grade.student.name }
              td.p-4.text-sm
                .flex.items-center.justify-center
                  span #{ grade.status }
              td.p-4.text-sm
                .flex.items-center.justify-center
                  span #{ grade.grade }
              td.p-4.text-sm
                .flex.items-center.justify-center
                  span #{ grade.max_grade }
              td.p-4.text-sm
                .flex.justify-between.items-center
                  span.text-center #{ grade.feedback }
              td.text-sm
                .flex.justify-center.items-center
                  a.mr-4(
                    href=`/courses/${course.id}/exam/${grade.assignment.id}/result?grade=${grade.id}&gradePage=${currentGradePage}`
                  )
                    svg.w-5.fill-blue-500(
                      xmlns='http://www.w3.org/2000/svg',
                      class='hover:fill-blue-700',
                      viewBox='0 0 348.882 348.882'
                    )
                      path(
                        d='m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z',
                        data-original='#000000'
                      )
                      path(
                        d='M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z',
                        data-original='#000000'
                      )

      // Pagination Grade
      .mt-4.flex.justify-center
        nav.inline-flex.rounded-md.shadow(aria-label='Pagination')
          a.px-2.py-2.rounded-l-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(
            class='hover:bg-blue-100',
            href=`?gradePage=${currentGradePage > 1 ? currentGradePage - 1 : 1}#grade`,
            class=currentGradePage === 1 ? 'cursor-not-allowed' : ''
          )
            span.sr-only Previous
            svg.h-5.w-5(
              xmlns='http://www.w3.org/2000/svg',
              viewBox='0 0 20 20',
              fill='currentColor',
              aria-hidden='true'
            )
              path(
                fill-rule='evenodd',
                d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z',
                clip-rule='evenodd'
              )

          - const startGradePage = Math.max(1, currentGradePage - 2);
          - const endGradePage = Math.min(totalGradePages, startGradePage + 4);

          each page in Array.from({length: endGradePage - startGradePage + 1}, (_, i) => startGradePage + i)
            if page === currentGradePage
              span.z-10.bg-indigo-50.border-indigo-500.text-indigo-600.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium= page
            else
              a.bg-white.border-gray-300.text-gray-500.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium(
                class='hover:bg-blue-100',
                href=`?gradePage=${page}#grade`
              )= page

          if endGradePage < totalGradePages
            span.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-700 ...
            a.bg-white.border-gray-300.text-gray-500.relative.inline-flex.items-center.px-4.py-2.border.text-sm.font-medium(
              class='hover:bg-blue-100',
              href=`?gradePage=${totalGradePages}#grade`
            )= totalGradePages

          a.px-2.py-2.rounded-r-md.border.border-gray-300.bg-white.text-sm.font-medium.text-gray-500(
            class='hover:bg-blue-100',
            href=`?gradePage=${currentGradePage < totalGradePages ? currentGradePage + 1 : totalGradePages}#grade`,
            class=currentGradePage === totalGradePages ? 'cursor-not-allowed' : ''
          )
            span.sr-only Next
            svg.h-5.w-5(
              xmlns='http://www.w3.org/2000/svg',
              viewBox='0 0 20 20',
              fill='currentColor',
              aria-hidden='true'
            )
              path(
                fill-rule='evenodd',
                d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z',
                clip-rule='evenodd'
              )

    // Exam management
    #exam.flex.justify-between.items-center.mt-6
      h2.text-xl.font-bold.my-4 #{ t('title.exam') }
      if exam
        a.px-3.rounded.text-sm.tracking-wider.font-medium.border-2.border-red-500.text-red-500.py-2(
          href=`/courses/${course.id}/exam/${exam.id}/manage`,
          class='hover:bg-red-100'
        ) #{ t('title.manage_exam') }
      else
        a.px-3.rounded.text-sm.tracking-wider.font-medium.border-2.border-teal-500.outline-none.bg-transparent.text-teal-500.py-2(
          href=`/courses/${course.id}/exam/create`,
          class='hover:bg-teal-100'
        ) #{ t('title.create_exam') }

    // Exam Detail
    .mx-2
      if exam
        .flex.justify-start.text-xl.text-indigo-700.font-bold.mb-2
          p #{ exam.name }

        .mx-2
          if exam.time_limit
            .flex.items-center.gap-1.mb-2
              strong Time Limit:
              p #{ exam.time_limit } minutes

          if exam.attempt_limit
            .flex.items-center.gap-1.mb-2
              strong Total attempt:
              p #{ exam.attempt_limit }

          .flex.justify-between.mb-2
            .flex.items-center.gap-1
              strong #{ t('exam.deadline') }:
              +formatDate(new Date(exam.deadline))
          .pb-2
            strong #{ t('exam.description') }:
            p #{ exam.description }
      else
        p This course has no exam yet. Please create one.

    // Progress
    .flex.justify-between.items-center.my-8
      h2.text-xl.font-bold #{ t('course.progress') }
    .space-y-4
      each enrollment in enrollmentWithProgress
        .grid.grid-cols-10.gap-4.rounded-md(class='hover:bg-blue-50')
          a.col-span-4.flex.items-center.p-4.rounded-md.cursor-pointer(
            href=`/users/${enrollment.student.id}`,
            class='hover:bg-red-100'
          )
            .w-12.h-12.rounded-full.mr-4.overflow-hidden.flex-shrink-0
              img.w-full.h-full.object-cover(
                src=enrollment.student.avatar_url || '/images/student.png',
                alt=enrollment.student.name
              )
            .flex.flex-col
              p.text-sm.truncate.font-medium.text-gray-900
                | #{ enrollment.student.name }
              p.text-sm.truncate.text-gray-500
                | #{ enrollment.student.email }

          .col-end-11.col-span-3.flex.items-center.space-x-4
            .w-32.bg-gray-200.rounded-full.h-2
              .bg-teal-500.rounded-full.h-2(
                style=`width: ${enrollment.progress}%`
              )
            span.text-sm.text-gray-500= `${enrollment.progress}%`

            case enrollment.courseStatus
              when CourseStatus.COMPLETED
                span.text-sm.text-green-500= enrollment.courseStatus
              when CourseStatus.INPROGRESS
                span.text-sm.text-orange-500= enrollment.courseStatus
              default
                span.text-sm.text-gray-500= CourseStatus.NOTSTARTED
            svg.w-6.h-6.text-gray-400(fill='none', stroke='currentColor')
              path(
                stroke-linecap='round',
                stroke-linejoin='round',
                stroke-width='2',
                d='M9 5l7 7-7 7'
              )
