extends common-layout

block content
  .flex.items-center.justify-between.pt-8
    .flex-1.flex.flex-col.items-center
      img.h-50(src='/images/banner.png', alt='SmartEdu Logo')

    .flex-1.flex.items-center.justify-center.pt-16
      .max-w-md.w-full.bg-white.shadow-lg.rounded-lg.p-8(
        style='margin-top: -8rem'
      )
        h2.text-2xl.font-semibold.mb-6.text-center= t('login.title')

        //- Hiển thị thông báo lỗi
        if error_message
          p.text-l.mb-6.text-red-500.text-center.error-message= error_message

        if success_message
          p.success-message.text-green-500.text-center.mb-4= success_message

        form(action='/auth/login', method='post')
          .form-group.mb-4
            label.text-sm.italic(for='username')= t('username')
            input#username.w-full.p-2.border.border-gray-300.rounded-md(
              type='text',
              name='username',
              value=attribute ? attribute.username : '',
              required
            )
            if errors && errors.find(err => err.param === 'username')
              p.text-red-500.text-sm.italic= t('login.errors.username_length')
          .form-group.mb-4
            label.text-sm.italic(for='password')= t('password')
            input#password.w-full.p-2.border.border-gray-300.rounded-md(
              type='password',
              name='password',
              value=attribute ? attribute.password : '',
              required
            )
            if errors && errors.find(err => err.param === 'password')
              p.text-red-500.text-sm.italic= t('login.errors.password_length')
          .form-group.flex.items-center.mb-4
            input#show-password.mr-2(type='checkbox')
            label(for='show-password')= t('show_password')
          button.w-full.bg-blue-500.text-white.py-2.rounded-md(
            type='submit',
            class='hover:bg-blue-600'
          )= t('sign_in')
          .or-divider.flex.items-center.my-4.justify-center
            .flex-grow.border-t.border-gray-300
            span.mx-2.text-gray-500= t('or')
            .flex-grow.border-t.border-gray-300
          button.google-login.w-full.bg-red-500.text-white.py-2.rounded-md.flex.items-center.justify-center(
            type='button',
            class='hover:bg-red-600'
          )
            a.flex.items-center(href='/auth/google')
              i.fab.fa-google.mr-2
              | #{ t('login_with_google') }
          a.signup.block.text-blue-500.text-center.mt-4(href='/auth/register')= t('new_user_sign_up')

  script(src='/javascripts/login.js')
